<div class = 'toolbar'>
  <form action = '/add_bookmark'>
    <input type = 'submit' value = 'Add Bookmark'>
  </form>
</div>

<div>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<%= bookmark.id %>">
        <a href="<%=bookmark.url%>"><%=bookmark.title%></a>
        <form action = '/delete_link/<%=bookmark.id%>' method='post' >
          <input type="hidden" name="_method" value="delete">
          <input type = 'submit' name="delete_<%= bookmark.id %>" value = 'Delete Bookmark'>
        </form>
        <form  action="/update_link/<%=bookmark.id%>" method="get">
          <input type="submit" name="update_<%= bookmark.id %>" value="Edit">
        </form>
      </li>
    <% end %>
  </ul>
</div>
